@model ProjetFinal_2147037.Models.EmissionTelevision

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmissionTelevision</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descriptions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descriptions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstCoreen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstCoreen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cote)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cote)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NbVisionnement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NbVisionnement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CoutProduction)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CoutProduction)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Plateforme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Plateforme.PlateformeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EmissionTelevisionId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
