@model ProjetFinal_2147037.Models.VM_UtilisateurMotDePasse

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmissionTelevision</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pseudo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pseudo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoTelephone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoTelephone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlateformeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlateformeId)
        </dd>
        <dt class="col-sm-2">
            MotDePasseClair
        </dt>
        <dd class="col-sm-10">
            @ViewData["mdP"]
        </dd>
    </dl>
</div>

