@model IEnumerable<ProjetFinal_2147037.Models.EmissionTelevision>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstCoreen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbVisionnement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plateforme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstCoreen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbVisionnement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plateforme.PlateformeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EmissionTelevisionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EmissionTelevisionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EmissionTelevisionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
