@model IEnumerable<ProjetFinal_2147037.Models.EmissionTelevision>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Liste des émissions</h1>

<p>
    <a asp-action="IndexAvecViewSQL">V1_2__CreationVue</a>
</p>

<p>
    <a asp-action="InfoUtilisateur">
        V1_3__ChiffrementMdP
    </a>
</p>

<p>
    <a asp-action="AjouterImage">
        V1_5__TraitementDesImages
    </a>
</p>

<form asp-action="Index" method="post">
    <fieldset>
        <label for="EstCoreen">EstCoreen</label>
        <select name="EstCoreen">
            <option value="null"></option>
            <option value="false">False</option>
            <option value="true">True</option>
        </select>
        <label for="PlateformeID">PlateformeID</label>
        <input min="0" max="5" name="PlateformeID" type="number" />
        <input type="submit" value="Submit">
    </fieldset>
</form>
<p>
    Temps de la requête : @ViewData["temps"] millisecondes
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descriptions)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstCoreen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NbVisionnement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoutProduction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plateforme.PlateformeId)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descriptions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstCoreen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NbVisionnement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoutProduction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plateforme.PlateformeId)
            </td>
            
        </tr>
}
    </tbody>
</table>
